<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> {% block meta %}{% endblock %}

		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}{% endblock %}

		{% block headerJavascripts %}{% endblock %}

	</head>
	<body>
		{% block bodyHeader %}{% endblock %}
		{% block body %}{% endblock %}
		{% block bodyFooter %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
